extends ../layout

block menu
  .container-fluid
    .navbar-header
      .navbar-brand API blueprints
    .collapse.navbar-collapse.navbar-right
      ul.nav.navbar-nav
        li.dropdown
          a.dropdown-toggle(data-toggle = 'dropdown', role = 'button', aria-expanded = false)
            span Current branch: #{branch}
            span.caret
          ul.dropdown-menu(role = 'menu')
            if branch == 'master'
              li.active
                a(href='?branch=master') master
            else
              li
                a(href='?branch=master') master
            li.divider
            each remote_branch in branches
              if remote_branch.name != 'master'
                if remote_branch.name == branch
                  li.active
                    a(href="?branch=#{remote_branch.name}")= remote_branch.name
                else
                  li
                    a(href="?branch=#{remote_branch.name}")= remote_branch.name

block content
  table.table.table-condensed
    thead
      tr
        th Filename
        th link to Github source
    tbody
      each file in files
        tr
          td
            if file['type'] == 'dir'
              span.glyphicon.glyphicon-folder-open
              a.button(href="?branch=#{branch}&dir=#{file['path']}")= file['name']
            else
              span.glyphicon.glyphicon-file
              if file['dir'] != undefined
                a.button(href="#{file['name']}?branch=#{branch}&dir=#{file['dir']}")= file['name']
              else
                a.button(href="#{file['name']}?branch=#{branch}")= file['name']
          td
            a(href=file['url']) Source
